body {
  background-color: #F7F8FD;
}

.app {
  display:flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
}

.wrapper {
  max-width: 800px;
}

.todo-form {
  font-family: 'Nunito', sans-serif;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.todo-form__button {
  background-color: #081c82;
  border-radius: 100%;
  color: white;
  border:none;
  width: 36px;
  height: 36px;
  margin: 4px 0 24px 0;
}

.todo-form__input-container {
  display: flex;
  justify-content: center;
}

.todo-form__input {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  color:#081c82;
  font-size: 2rem;
  padding: 10px 15px;
  margin-top: 40px;
  text-align: center;
}

.todo-form__input::placeholder {
  color: #aaa;
}

.todo-form__select {
  display: flex;
  flex-direction: row;
  align-items: space-between;
}

.todo-form__radio-container {
  margin: 0 10px;
}

.todo-form__radio-label {
  font-size: 1rem;
  cursor: pointer;
}

.todo-form__radio {
  display: none;
}

.todo-form__radio:checked + label {
  font-weight: bold;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px;
  margin: 15px;
  background-color: #FBFBFB;;
  border-radius: 1rem;
  width: 400px;
  box-shadow:
    0 2.8px 2.3px -10px rgba(0, 0, 0, 0.022),
    0 6.7px 5.5px -10px rgba(0, 0, 0, 0.032),
    0 12.5px 10.4px -10px rgba(0, 0, 0, 0.04),
    0 22.3px 18.5px -10px rgba(0, 0, 0, 0.048),
    0 41.8px 34.7px -10px rgba(0, 0, 0, 0.058),
    0 100px 83px -10px rgba(0, 0, 0, 0.08)

}

.todo-container {
  display: flex;
  align-items: center;
}

.todo-item__checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.todo-item__checkbox-container {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 28px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.todo-item__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.todo-item__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #df38f5;
  border-radius: 1rem;
  transition: 0.3s;
}

.todo-item__checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

.todo-item__checkbox:checked ~ .todo-item__checkmark {
  background-color: #ccc;
  border: 1px solid #ccc;
}

.todo-item__checkbox:checked ~ .todo-item__checkmark:after {
  display: block;
}

.todo-item__checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.todo-item__text {
  font-size: 1.2rem;
  color: #081c82;
  cursor: pointer;
  overflow: hidden;
}

.todo-item__text--completed {
  display: inline-block;
  position: relative;
  transition: all .5 cubic-bezier(.55,0,.1,1);
  color: #999
}

.todo-item__text--completed:after {
  content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 2px;
	box-shadow: 0 1px rgba(255,255,255,0.6);
	margin-top: -0.5em;
	background: #999;
	transform-origin: center left;
	animation: strikethrough .9s cubic-bezier(.55, 0, .1, 1) 1;
}

.todo-item__button--delete {
  font-family: 'Font awesome';
  color: #ccc;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  transition: .2s;
}

.todo-item__button--delete:hover {
  color: #ff0000;
  transition: .4s;
}

@keyframes strikethrough {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}